  <h1> Conditional - Section 2</h1>
  <div class = "center">
    <a href="/chapter/3_1">Section 1 |</a></href>
     Section 2 |
  </div> 
  
  <h2 id="Conditions">
    Conditions
  </h2>
  <p>
    A condition is an expression that is equal to <code>true</code> or <code>false</code>.  A condition can involve multiple logical operators.
  </p>
  <p class="centerBlue">
    true || !false && false || !true
  </p>
  <p>
    Parentheses can be used to force the normal order of operations.  Operations inside parentheses are always done before those outside.
  </p>
  <p class="centerBlue">
    !(true && !false) && (false || true)
  </p>
  <p>
    The operands involved in a condition can be any constant, variable, or expression that results in a value of <code>true</code> or <code>false</code>.  This includes <code>boolean</code> variables, as well as relational expressions, and String comparisons.
  </p>
  <pre>
boolean b = true;
int x = 5;
String s = "Pie";

b || x + 2 < 7 && s.equals("Yummy")</pre>
  <h2 id="OrderofOperations">
    Order of Operations
  </h2>
  <p>
    When a program resolves a condition, it performs operations in the following order:
  </p>
  <pre class="preBlue">
Replace variables
Evaluate methods
NOT operators   !
Multiplications and divisions   *, /, %
Additions and subtractions   +, -
Comparisons   <, <=, >, >=, ==, !=
AND operators   &&
OR operators   ||</pre>
  <h3>
    Example:
  </h3>
  <pre>
int x = 3;
boolean b = false;
String s = “Hi”;

x + 1 > 0 &&   b   || !s.equals(“Hi”)</pre>
  <P>
    Showing the program operation in steps:
  </P>
  <pre>
  3 + 1 > 0 && false || !s.equals(“Hi”)	// Variables
  3 + 1 > 0 && false || !true				// Methods
  3 + 1 > 0 && false || false				// NOT
    4   > 0 && false || false				// Addition
      true  && false || false				// Comparison
           false     || false				// AND
                   false     				// OR</pre>
  <p>
    Note that the AND operations are always done before the OR operations.
  </p>
  
  <h2 id="IfStatements">
    If Statements
  </h2>
  <p>
    An <code>if</code> statement is a control structure.  It decides if the block of code following it will run or not.  A semicolon is not used after an <code>if</code> statement.  An <code>if</code> statement consists of the word <code>if</code>, followed by a condition enclosed in parentheses.  If the condition is <code>true</code>, the code following the <code>if</code> statement will run.  If the condition is <code>false</code>, the code following the <code>if</code> statement will be skipped, and execution will continue.  Curly braces ({}) are used to specify the "block of code" associated with the <code>if</code> statement.
  </p>
  <pre>
<strong>if(x < 5)
{
	y = y * 2;
	x = 5;
}</strong>
System.out.println("y = " + y);</pre>
  
  <p>
    If the value of the variable x is less than 5, y will be doubled, and x will be set to 5.  If x is not less than 5 (x is greater than 5 or equal to 5), the values of x and y will not change.  Either way, the value of y is printed.
    <br/>If curly braces are not used, only the line following the <code>if</code> statement is controlled by it.
  </p>
  <pre>
<strong>if(x < 5)
	y = y * 2;</strong>
x = 5;
System.out.println("y = " + y);</pre>
  <p>
    The use of curly braces for all <code>if</code> statements is recommended, even if the code block contains only one line.  The braces make the code more readable.  They also make it less likely that you will introduce an error later if code is added.
  </p>
  <pre>
<strong>if(x < 5)
{
	y = y * 2;
}</strong>
x = 5;
System.out.println("y = " + y);</pre>
  <p>
    Note that indentation is used to indicate levels within the program structure.  This whitespace is ignored by the compiler, but its use is important to make programs more readable.
  </p>
  
  <h2 id="ElseStatements">
    Else Statements
  </h2>
  <p>
    An <code>else</code> statement can follow any <code>if</code> statement.  The else statement is optional.  You can use an <code>if</code> statement without an <code>else</code> statement.  However, you can not use an <code>else</code> statement without an <code>if</code> statement.  The <code>else</code> statement must immediately follow the closing brace of the <code>if</code> code block.
  </p>
  <pre>
if(x < 5)
{
	y = y * 2;
	x = 5;
}
<strong>else
{
	y = y * 3;
	x = 10;
}</strong>
System.out.println("y = " + y);</pre>
  <p>
    If the condition inside the <code>if</code> statement is <code>true</code>, the code block following the if statement runs, and the code block following the <code>else</code> statement is skipped. If the condition is <code>false</code>, the code block following the <code>if</code> statement is skipped, and the code block following the <code>else</code> runs.  Note that exactly one of the two blocks will always run.  Even if a variable values change within the <code>if</code> block, once the <code>if</code> block runs, the <code>else</code> block will not.
  </p>
  <p>
    Once the <code>if</code> or <code>else</code> block runs once, the program continues to execute.  The <code>if</code> statement is not a repetition structure.  It will not repeat the code multiple times.  
  </p>
  <h3>
    Example Program – PetShop
  </h3>
  <p>
    In this example, the user chooses a type of pet to purchase (fish or cat), and the user decides how many to buy.  The program sets the price per pet based on the type of pet chosen.  Only 5 of each pet are available, so if the customer asks for more than 5, they only get 5.
  </p>
  <p>
    Ordering two cats
  </p>
  <p style="text-align: center;"><img src="/img/c3_p7.jpg"%></p>
  <p>
    Ordering seven fish
  </p>
  <p style="text-align: center;"><img src="/img/c3_p7_02.jpg"%></p>
  <pre>
import java.util.Scanner;

public class PetShop
{
	public static void main(String[] args)
	{
		Scanner keyboard = new Scanner(System.in);
		String pet = "";
		double price = 0.0;
		int number = 0;

		System.out.println("^_^  Welcome to PetShop  ^_^\n");
		System.out.print("Would you like a fish or a cat? ");
		pet = keyboard.next();

		<strong>if(pet.equals("fish"))</strong>
		{
			System.out.println("Our fish are $2.00 each.");
			price = 2;
		}

		<strong>if(pet.equals("cat"))</strong>
		{
			System.out.println("Our cats are $10.00 each.");
			price = 10;
		}

		System.out.print("How many would you like? ");
		number = keyboard.nextInt();

		<strong>if(number <= 5)</strong>
		{
			System.out.println("Okay " + number + " it is.");
			price = price * number;
		}
		<strong>else</strong>
		{
			System.out.println("Sorry.  We only have 5.");
			price = price * 5;
		}

		System.out.println("That comes to $" + price);
	}
}</pre>
  <p>
    In the PetShop example program, the user is asked to enter a String.  If the String is equal to "fish", only the first if statement runs, setting the price to $2.00.  If the String is equal to "cat", the first if statement does not run, but the second one does, setting the price to $10.00.
  </p>
  <pre>
pet = keyboard.next();

<strong>if(pet.equals("fish"))</strong>
{
	System.out.println("Our fish are $2.00 each.");
	price = 2;
}

<strong>if(pet.equals("cat"))</strong>
{
	System.out.println("Our cats are $10.00 each.");
	price = 10;
}</pre>
  <p>
    If the user input is equal to something other than "fish" or "cat", neither if statement will run, and the price will remain at $0.00.  Notice that the Strings are compared using the equals() method, not with the == operator, which only works for numbers.
  </p>
  <p>
    Next, the user is asked how many pets are being purchased.  If the user chooses to buy 5 or fewer pets, the price is multiplied by the number of pets.  If the user asks for more than 5 pets, the program apologizes for the shortage and charges the user for 5 pets.
  </p>
  <pre>
number = keyboard.nextInt();

<strong>if(number <= 5)</strong>
{
	System.out.println("Okay " + number + " it is.");
	price = price * number;
}
<strong>else</strong>
{
	System.out.println("Sorry.  We only have 5.");
	price = price * 5;
}</pre>
  <p>
    Either the block of code following the <code>if</code> will run, or the block of code following the <code>else</code> will run.
  </p>
  
  <h2 id="NestedIfStatements">
    Nested If Statements
  </h2>
  <p>
    An <code>if</code> statement can be placed inside the code block of another <code>if</code> statement, or inside an <code>else</code> code block.  This is called nesting. Statements can be nested many levels deep.
  </p>
  <p>
    The code below prints a message <code>if</code> the variables x and y are both positive.
  </p>
  <pre>
if(<strong>x >= 0</strong>)
{
	if(<strong>y >= 0</strong>)
	{
		System.out.println("Both numbers are positive.");
	}
}</pre>
  <p>
    The message only prints <code>if</code> both if conditions are <code>true</code>.  We could get the same functionality using an AND operator.
  </p>
  <pre>
if(<strong>x >= 0 && y >= 0</strong>)
{
	System.out.println("Both numbers are positive.");
}</pre>
  <h3>
    Example Program – Quadrants
  </h3>
  <p>
    This program asks the user for an x value and a y value, and tells the user which quadrant the point is in.
  </p>
  <p style="text-align: center;"><img src="/img/c3_p10.jpg"%></p>
  <pre>
import java.util.Scanner;

public class Quadrants
{
	public static void main(String[] args)
	{
		Scanner keyboard = new Scanner(System.in);
		int x = 0;
		int y = 0;

		System.out.print("Enter x coordinate: ");
		x = keyboard.nextInt();
		System.out.print("Enter y coordinate: ");
		y = keyboard.nextInt();


		<strong>if(y > 0)	</strong>
		{
			System.out.println("It's on the top");
				<strong>if(x > 0)	</strong>
			{
				System.out.println("It's in Quadrant 1");
			}
				<strong>else	</strong>
			{
				System.out.println("It's in Quadrant 2");
			}
		}
			<strong>else	</strong>
		{
			System.out.println("It's on the bottom");
			<strong>if(x > 0)	</strong>
			{
				System.out.println("It's in Quadrant 4");
			}
				<strong>else	</strong>
			{
				System.out.println("It's in Quadrant 3");
			}
		}
	}
}</pre>

  <div class = "center">
    <a href="/chapter/3_1">Section 1 |</a></href>
     Section 2 |
  </div> 