<div class="jumbotron" style="background-color: #DAA520; ">
<h1 style="text-align: center;text-decoration: underline;margin: 10px">Welcome to DTCTech</h1>
{{!--<h1 style="text-align: center;color: rgb(84,141,212);text-decoration: underline;margin: 10px">Welcome to DTCTech</h1>--}}
<h2 style="text-align: center;margin: 10px;">A free one-semester course in Java Programming</h2>
<hr/ style="margin: 10px;">

  <div class="row" style="background-color: #DAA520; ">
    <div class="col-sm-4" >
       <h3 >Content Manager:</h3> 
         <p>Mike Dalton, PH.D., Electrical Engineering</hp>
       <h3 >Senior Web Developer:</h3> 
         <p>Somwang Shepherd</p>
    </div>
    <div class="col-sm-4" >
      
    <div class="panel-group" id="accordion"><!-- start Collapse -->
      <!-- =============collapse1 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Introduction</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/1_1">Section 1</a></href></li></em></strong>
            <ul>
              <li>A Java Program</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/1_2">Section 2</a></li></em></strong>
            <ul>
              <li>Variables</li>
              <li>String Concatenation</li>
            </ul>
             <strong><em><a class="nav-link" href="/chapter/1_3">Section 3</a></li></em></strong>
             <ul>
              <li>The Escape Character and Escape Sequences</li>
              <li>System.out(println()/print())</li>
              <li>Java Reserved Words</li>
              </ul>
              <strong><em><a class="nav-link" href="/chapter/1_4">Section 4</a></li></em></strong>
             <ul>
              <li>Syntax Errors</li>
              <li>Ascii Art</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- =============collapse2 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Variables</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/2_1">Section 1</a></li></em></strong>
            <ul>
              <li>Types</li>
              <li>Creating Variables</li>
              <li>Assignment Statements</li>
              <li>Mathematical Operations</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/2_2">Section 2</a></li></em></strong>
            <ul>
              <li>Type Casting</li>
              <li>Mathematical Shortcuts</li>
              <li>Order of Operations</li>
              <li>Strings</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/2_3">Section 3</a></li></em></strong>
            <ul>
              <li>User Input</li>
              <li>Scanner methods</li>
              <li>Program Execution</li>
              <li>Calculating Programs</li>
            </ul>          
          </div>
        </div>
      </div>
      <!-- =============collapse3 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Conditional Statements</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/3_1">Section 1</a></li></em></strong>
            <ul>
              <li>If Statements</li>
              <li>Relational Operators</li>
              <li>Comparing Strings</li>
              <li>Logical Operators</li>
              <li>The || operator (OR)</li>
              <li>The ! operator (NOT)</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/3_2">Section 2</a></li></em></strong>
            <ul>
              <li>Conditions</li>
              <li>Order of Operations</li>
              <li>If Statements</li>
              <li>Else Statements</li>
              <li>Nested If Statements</li>
            </ul>             
          </div>
        </div>
      </div>
      <!-- =============collapse4 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Best Programming Practices</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/4_1">Section 1</a></li></em></strong>
            <ul>
              <li>Readability</li>
              <li>Formatting and Indentation</li>
              <li>Variable Names</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/4_2">Section 2</a></li></em></strong>
            <ul>
              <li>Comments</li>
              <li>Code Cramming</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/4_3">Section 3</a></li></em></strong>
            <ul>
              <li>Magic Numbers</li>
              <li>Duplicate Code</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/4_4">Section 4</a></li></em></strong>
            <ul>
              <li>Prompting For Input</li>
              <li>Program Design</li>
              <li>Errors</li>
              <li>Exceptions</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/4_5">Section 5</a></li></em></strong>
            <ul>
              <li>Flow Diagrams</li>
            </ul>             
          </div>
        </div>
      </div>    
      <!-- =============collapse5 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">While Loops</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/5_1">Section 1</a></li></em></strong>
            <ul>
              <li>While Loops</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/5_2">Section 2</a></li></em></strong>
            <ul>
              <li>Input Validation</li>
              <li>Solving Loop Problems</li>
              <li>Flow Diagrams</li>
            </ul>             
          </div>
        </div>
      </div>
      <!-- =============collapse6 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">For Loops</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/6_1">Section 1</a></li></em></strong>
            <ul>
              <li>For Loops</li>
              <li>Variations</li>
              <li>Common Errors</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/6_2">Section 2</a></li></em></strong>
            <ul>
              <li>Sequence Generation and Series Summation</li>
              <li>Printing Shapes</li>
            </ul>             
          </div>
        </div>
      </div>     
      <!-- =============collapse7 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">Arrays</a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/7_1">Section 1</a></li></em></strong>
            <ul>
              <li>Array Initialization</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/7_2">Section 2</a></li></em></strong>
            <ul>
              <li>Swapping Elements</li>
              <li>The length Parameter of Arrays</li>
              <li>Using For Loops with Arrays</li>
              <li>Applications of Arrays</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/7_3">Section 3</a></li></em></strong>
            <ul>
              <li>Storing Data</li>
              <li>Sorting</li>
            </ul>             
          </div>
        </div>
      </div>   
      <!-- =============collapse8 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Methods</a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/8_1">Section 1</a></li></em></strong>
            <ul>
              <li>Creating Objects</li>
              <li>Methods</li>
              <li>Method Descriptions</li>
              <li>Scanner (java.util.Scanner)</li>
              <li>Random (java.util.Random)</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/8_2">Section 2</a></li></em></strong>
            <ul>
              <li>Static Methods</li>
              <li>Math (java.lang.Math)</li>
              <li>Arrays (java.util.Arrays)</li>
              <li>Integer (java.lang.Integer)</li>
              <li>Double (java.lang.Double)</li>
              <li>Character (java.lang.Character)</li>
              <li>JOptionPane (javax.swing.JOptionPane)</li>
              <li>String (java.lang.String)</li>
              <li>Thread (java.lang.Thread)</li>
            </ul>             
          </div>
        </div>
      </div>       
      <!-- =============collapse9 ====================-->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">Strings</a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body">
            <strong><em><a class="nav-link" href="/chapter/9_1">Section 1</a></li></em></strong>
            <ul>
              <li>String</li>
              <li>boolean equals(String s)</li>
              <li>boolean contains(String s)</li>
              <li>int length()</li>
              <li>boolean equalsIgnoreCase(String s)</li>
              <li>String toLowerCase()</li>
              <li>String toUpperCase()</li>
              <li>String trim()</li>
              <li>char charAt(int index);</li>
              <li>String substring</li>
              <li>int indexOf(String substring)</li>
              <li>int indexOf(String substring, int beginIndex)</li>
              <li>String[] split(String separator)</li>
              <li>char[] toCharArray()</li>
              <li>String replaceAll(String original, String replacement)</li>
              <li>boolean startsWith(String s)</li>
              <li>boolean endsWith(String s)</li>
            </ul>
            <strong><em><a class="nav-link" href="/chapter/9_2">Section 2</a></li></em></strong>
            <ul>
              <li>String Methods Grouped By Category</li>
            </ul>             
          </div>
        </div>
      </div>  
    </div> <!-- end class="panel-group" -->

    </div>
    <div class="col-sm-4" >
      <p><span style="color: red">* </span>Completion of this course does not necessarily provide credit at any particular institution.  However, we believe it will provide you with the knowledge and fluency that will allow you move forward into the next stage of programming at any institution.</p>
    </div>
  </div>
</div><!-- end Jumbotorn -->

