  <div class="jumbotron">
    <div class="row">
      <div class="col">
        {{cnt}}. {{hea}}
        <code>
        <p>{{{qs}}}</p>
        <p>{{prt}}</p></code>        
      </div>
       <div class="col">
         <form action="/quizzes/quiz1" method="POST">
            <p>Enter answer below:</p>
            <input type="text" name="ans" value="" size = "35">
            <p></p>
            <input type="submit" class="btn btn-primary" name="submit" value="Next">
          </form>
        </div>
    </div>
  </div>

    